.navbar_container{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 0px rgba(146, 145, 145, 0.667);
    position: relative;
}
.navbar_left{
    flex:1;
    align-items: center;
    display: flex;
    gap:2rem;
}
.navbar_logo{
    transform: scale(0.2);
    position: absolute;
    left: -25rem;
}
.navbar_rigth{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.navbar_list{
    flex: 10;
}
.navbar_list>ul{
    display: flex;
    gap:2rem;
    margin-right: 4rem;
    cursor: pointer;
}
.navbar_list li:hover{
    color:var(--primary-color)
}
@media screen and (max-width: 480px){
    .navbar_list{
        display: none;
    }
    .contactame{
        display: none;
    }
}
