.footer{
    display:flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.footer > img{
    width: 100%;
}
.footer_content{
    position: absolute;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
    gap: 4rem;
    color: var(--veige);
}
.footer_icons a{
    margin:4rem;
    color:var(--veige);
    font-size: 40px;
    align-items: center;
}
@media screen and (max-width: 480px){
    .footer_content > span{
        display: none;
    }
    .footer_icons a{
        color:var(--veige);
        font-size: 40px;
        display: inline;
    }
    .fa-github{
        display: none;
    }
    .fa-linkedin-in{
        margin-top: 4rem;
        
    }
}
