/* reset */
*{
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}
/* html{
  scroll-behavior: smooth; 
} */
body{
  margin: 0;
  
}
h1, h2, h3, h4, p, ul{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* reset */

:root
{
  --padding-mobile:20px;
  --padding-tablet:50px;
  --padding-desktop:100px;
  --primary-color: #8E7BEF;
  --secondary-color:#5D3BEF;
  --black:#222222;
  --gray:#423f40;
  --card:#f9f6ff;
  --veige:#f9f5f2;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}


.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  background-color: var(--card);
}
.btn{
  border-radius: 34px;
  border: none;
  color:var(--veige);
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(180deg, #8E7BEF 26.71%, #5D3BEF 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(209, 174, 255, 0.644);
}
.btn:hover{
  background: var(--veige);
  cursor: pointer;
  color:var(--primary-color);
  border: solid 1px var(--primary-color);
}
@media screen and (max-width: 480px) {
  .App{
    padding: 0.5rem 1rem;
    text-align: center;
  }
}